.hidden {
    display: none;
}

#container {
    margin: 20px auto;
    width:  428px;
    border:  solid 1px rgb(250, 95, 6);
    border-radius: 30px;
    background-color: #f3efc3;
}

#main-content {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

article {
    grid-column: 1/-1;
}

body {
    font-family: 'comfortaa', arial, sans-serif;
    font-size: 15px;
    font-weight: 10px;
    text-align: justify;
}

p {
    line-height: 25px;
    color: #05610b;
}

h2, h3, h4 {
    font-family: 'josefin sans', arial, sans-serif;
}

h1 {
    font-family: 'josefin sans', arial, sans-serif;
    font-size: 50px;
    font-weight: 300px;
    letter-spacing: 10px;
    background-color: rgb(4, 134, 32);
    color: #fff;
    padding: 5px;
    padding-top: 10px;
    box-shadow: 5px 5px #f1a516;
    border-radius: 30px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #f87307;
    padding: 6px;
}

h3 {
    font-size: 20px;
    color: #f87307;
}

h4 {
    font-size: 15px;
    text-align: center;
    color: #06960f;
}

.photograph {
    padding-left: 100px
}

.flavour {
    padding-left: 45px;
}

.horizontal {
    padding-left: 20px;
}
